# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Local Mock Database data (created on startup if no external DB)
data/*.json
data_backup/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
